.constancia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px;
    height: 39vh;
    background-size: 100% 100%;
}

.constancia > div > h2{
    text-align: start;
    font-size: 65px;
}

.constancia > div > p {
    text-align: justify;
    margin-top: 30px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
}

.constancia > div > img {
    width: 55%;
    height: 65%;
    border-radius: 15px;
    box-shadow: 0px 0px 120px deepskyblue;
}

.constancia_izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.future_derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}