.experiencia > div > h2{
    font-size: 50px;
    text-align: center;
}

.experiencia > div > p{
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
    width: 65%;
    margin: auto;
}

.images {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: 50px;
}

.images > img {
    width: 150px;
    cursor: pointer;
}
