footer{
    padding-top: 200px;
    margin: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

footer > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer > div > img {
    width: 30%;
    margin: auto;
}

footer > .copy {
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}