*{  
    margin: 0;
    font-family:sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: black;
}

header{
    color: white;
    border: 4px solid white;
    border-radius: 15px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, black,  white);
}

.text_header {
    margin: 20px;
}

.text_header:first-child {
    font-size: 50px;
    font-weight: 700;
}

.text_header:nth-last-child(2){
    margin: 0px 20px;
    font-size: 30px;
}

.img_header {
    width: 200px;
    align-self: flex-end;
    margin-top: -160px;
    border-radius: 10px;
}

main{
    margin: 30px;
    align-items: start; 
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
}

.container{
    background-color: black;
    color: white;
    width: 30%;
    border: 4px solid white;
    border-radius: 10px;
}

.container > h2,p{
    margin: 10px;
}

.habilidades{
    background: linear-gradient(90deg, rgb(66, 66, 66), white);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.habilidades h2{
    margin: 10px;
}

.habilidades > img{
    margin: 13px;
    width: 10vw;
}

form{
    margin-top: 20px;
    background-color: black;
    color: white;
    border: 4px solid white;
    border-radius: 10px;
}

form > h2{
    margin: 10px;
}
input{
    box-sizing: content-box;
    margin: 10px;
    width: 43vw;
    height: 30px;
    display: flex;
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: solid 2px white;
}

label{
    margin-left: 10px;
}

.Send{
    background-color: black;
    border: solid 2px black;
}

.Send:hover{
    color: black;
    height: 40px;
    background-color: white;
    transition: 0.5s;
    border-radius: 5px;
}
